# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
idb2sig/Release/idb2sig.tlog/CL.command.1.tlog
idb2sig/Release/idb2sig.tlog/CL.read.1.tlog
/idb2sig/Release
/idb2sig/ipch/IDB2SIG-d091b97/*.ipch
/idb2sig/idb2sig.iobj
/idb2sig/idb2sig.ipdb
/idb2sig/idb2sig.plw
/idb2sig/idb2sig.sdf
/idb2sig/idb2sig.vcxproj.filters
/idb2sig/idb2sig.vcxproj.user
/idb2sig/.vs/idb2sig/v14/*.suo
/LoadMap/LoadMap.plw
/LoadMap/LoadMap.vcxproj.filters
/LoadMap/LoadMap.vcxproj.user
